@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   background-color: #696969;
   opacity: 5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

form{
    max-width: 450px;
    box-shadow: 2px 2px 4px grey;
    padding: 50px;
    background-color: #333745;
}

.mainTitle{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: white;
}

.option1{
  font-size: 15px;
}

.option2{
  text-align: center;
}

.options > span {
  color: #F08179;
  cursor: pointer;
  font-weight: bold;
}

form div input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    outline: none;
    padding: 18px 40px;
    caret-color: #1F90F5;
    color: white;
    font-weight: bold;
    font-size: large;
    background: #5c5c61;
    letter-spacing: 2px;
    border: none;
}


form div label {
  color: #1F90F5;
  font-weight: bold;  
}

form div{
    margin-bottom: 15px;
    position: relative;
    padding: 0.5px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input:focus{
    border: 2px solid #F08179;
}

.formIcons, .alertIcons{
    position: absolute;
    padding: 10px;
    font-size: 24px;
    color: white;
    margin-bottom: -3px;
}

.redIcon{
    color: red;
    opacity: 0;
    right: 0;
}

.greenIcon{
    color: green;
    opacity: 0;
    right: 0;
}

.errorMsg{
    color: red;
    margin-top: 4px;
    font-weight: bold;
    font-size: 0.9rem;
}

.iconOpacity{
  opacity: 1;
}
 
.submitBtn button {
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px;
    border: none;
    background: none;
    
  }
  
  .submitBtn button:hover {
    background: #1f90f5;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1f90f5,
                0 0 25px #1f90f5,
                0 0 50px #1f90f5,
                0 0 100px #1f90f5;
  }
  
  .submitBtn button span {
    position: absolute;
    display: block;
  }
  
  .submitBtn button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1f90f5);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .submitBtn button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1f90f5);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .submitBtn button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #1f90f5);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .submitBtn button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #1f90f5);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

